<div class="jumbotron">
    <h1>{{event.Title}}&nbsp;<span class="label label-info">${{event.Price}}</span></h1>
    <h2>{{event.Date | date:'longDate'}} | {{event.Address}},&nbsp;{{event.City.Name}},&nbsp;{{event.State}} {{event.ZIP}}</h2>
    <p>{{event.Description}}</p>
    <h3>Who's going:</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="attendee in event.Attendees">{{attendee.Email}}</li>
    </ul>
    <form>
        <!--Add logic that button is disabled until email entered-->
        <input type="text" ng-model="attendeeEmail" placeholder="Enter your email">
        <button type="submit" class="btn btn-primary" ng-click="addAttendee()">Join the event</button>
    </form>
</div>